body{
  margin: 0;
  padding: 0;
  background-color: rgb(8, 8, 8);
  text-align: center;
  color: white;
  font-family: 'Almendra', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
margin: 0 auto;
}

#header-img{
  width: 100%;
}

section {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#short-description{
  width: 100%;
}

h3{
  margin: 0 auto;
  width: 60%;
}

.indDiv{
  margin: 5px 0 10px 0;
}

.no-input{
  padding-top: 27px;
  margin-right: 65px;
}

.apiDiv {
  width: 350px;
  height: 450px;
  background-color: red;
  border-radius: 4px;
}

.innerDiv {
  width: 350px;
  height: 450px;
  padding: 0 -5px;
  overflow: scroll;
}

.overviewDiv {
  background-color: white;
  color: black;
  text-align: left;
  overflow: scroll;
  margin: 20px 10px 10px 10px;
  padding: 0 5px;
}

.title{
  background-color: black;
  color: white;
  margin: 10px 30px;
  font-size: 24px;
}

button {
  margin: 5px;
  width: 140px;
  border-radius: 4px;
  padding: 4px;
}

input{
  width: 200px;
  text-align: center;
  padding: 4px;
}

footer{
  width: 100%;
  height: 200px;
  background-image: url(./imgs/footer-img2.png);
  background-size: cover;
}

@media only screen and (max-width: 1220px) {
  .no-input{
    margin-right: 0;
  }
  .no-input:first-child{
    margin-right: 45px;
  }
}
@media only screen and (max-width: 770px) {
  section {
    display: flex;
    flex-direction: column;
  }
  .no-input{
    margin-right: 0;
  }
  .no-input:first-child{
    margin-right: 0;
  }
  .apiDiv {
    width: 250px;
    height: 300px;
  }
  
  .innerDiv {
    width: 250px;
    height: 300px;
  }
  h3{
   font-size: 16px;
  }
}